* { margin: 0; padding: 0; box-sizing: border-box; }

html {
    height: 100%;
    min-height: 100%;
}

body {
    font: 14px Helvetica, Arial;
    height: 100%;
    min-height: 100%;
}

form { background: #000; padding: 0.5em; position: fixed; bottom: 0; width: 100%; }
form input { border: 0; padding: 0.5em; width: 90%; margin-right: .5%; }
form button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 0.5em; text-align: center; }

#messages{ 
    list-style-type: none;
/*    line-height: 0.1em;*/
}

#messages #timestamp{
/*    padding: 0.5em 0.2em;*/
    margin-top: 1em;
    opacity: 0.5;
}
/*#messages li:nth-child(odd) { background: #eee; }*/
/*#messages { margin-bottom: 40px; }*/

#usersList { list-style-type: none; }

.WindowHolder {
    display: flex;
    flex-direction: row;
    flex-basis: auto;
    flex-flow: wrap-reverse;
    overflow: auto;
    height: 95%;
    min-height: 95%;
}

.Window#Chat{
    background-color: bisque;
    padding-left: 1%; padding-top: 1%; padding-bottom: 1%;
    margin-left: 1%; margin-top: 1%; margin-bottom: 1%;
    border: black 0.5em solid;
    flex: 4;
    flex-basis: auto;
    display: flex;
    flex-direction: column-reverse;
    overflow-x: auto;
    overflow-y: scroll;
    min-height: 70%;
}

.Window#Users{
    background-color: bisque;
    padding: 1%;
    margin: 1%;
    border: black 0.5em solid;
    flex: 2;
    flex-basis: auto;
    overflow-x: auto;
    overflow-y: scroll;
    min-height: 10%;
}